@charset "UTF-8";
/* vim: set ts=2 sw=2:
 *
 */
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600);
/* what? */
/*** common tags */
body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", "맑은 고딕", "Malgun Gothic";
  font-size: 11pt;
  height: 100%;
  color: #333333; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web", "맑은 고딕", "Malgun Gothic";
  font-weight: 600; }

a, a:visited {
  text-decoration: none;
  color: inherit; }
  a:hover, a:visited:hover {
    color: #c96293; }
  a.hl, a:visited.hl {
    color: #ff0000; }

p {
  margin: 0; }

/*** style/decorations */
.ta-j {
  text-align: justify; }

.ta-c {
  text-align: center; }

.ta-r {
  text-align: right; }

.ta-l {
  text-align: left; }

.pull-right {
  float: right; }

.ui-clickable {
  cursor: pointer; }

.invisible {
  display: none; }

.srw.icon {
  font-family: 'srw-icon'; }

/*** site structure */
.sticky-header {
  /* sticky header */
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 99;
  /* common */
  background: #000;
  background-image: url("/spin/images/spin-bg.png");
  color: white;
  box-shadow: 0 2px 6px rgba(70, 70, 70, 0.9); }
  .sticky-header .header {
    padding: 2px 10px 2px; }
    .sticky-header .header h1 {
      display: inline;
      margin: 0; }
  .sticky-header .menu.top-bar {
    padding: 0px 10px;
    background: rgba(255, 40, 80, 0.6);
    /* sticky header */
    position: absolute;
    width: 100%;
    bottom: 0; }
    .sticky-header .menu.top-bar ul {
      margin: 0;
      padding: 0;
      font-size: 0.9em; }
      .sticky-header .menu.top-bar ul li {
        display: inline;
        padding: 0 10px; }
        .sticky-header .menu.top-bar ul li a {
          color: inherit; }

.body-wrapper {
  background: #f9f9f9;
  background-image: url("/spin/images/spin-grey.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 72px auto;
  height: auto !important;
  min-height: 100%;
  margin: 0 auto -75px;
  /* sticky header */
  padding: 70px 0 0; }
  .body-wrapper .mainpage {
    margin: 12px; }
  .body-wrapper .foot-holder {
    clear: both;
    height: 84px; }

.sticky-footer {
  /* box */
  height: 50px;
  width: 100%;
  padding: 3px 80px 0px 3px;
  border-top: 1px solid #999;
  /* font */
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.1;
  /* sticky */
  position: fixed;
  bottom: 0;
  z-index: 99;
  /* sticky background */
  background: #f0f0f0;
  background-image: url("/spin/images/spin-grey.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 72px auto;
  box-shadow: 0 2px 6px rgba(70, 70, 70, 0.9); }
  .sticky-footer .status-message {
    position: absolute;
    left: 4px;
    padding: 0 8px;
    font-style: italic; }
    .sticky-footer .status-message ul {
      margin: 0;
      padding: 0; }
      .sticky-footer .status-message ul li {
        list-style: none; }
  .sticky-footer p {
    margin: 0;
    text-align: right; }

/*** containers */
.hc-pan-container {
  padding: 8px;
  background: #eee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
  margin-bottom: 12px; }
  .hc-pan-container-fade {
    position: absolute;
    left: 12px;
    right: 12px;
    top: 82px; }
  .hc-pan-container .hc-pan-title {
    margin: 0;
    float: left; }
  .hc-pan-container .hc-pan-control {
    text-align: right;
    margin-top: 10px; }
    .hc-pan-container .hc-pan-control form {
      display: inline; }
  .hc-pan-container .hc-tab-container {
    clear: both;
    border: 1px solid #ccc;
    border-left: 0px;
    border-spacing: 0px;
    font-size: 0.9em;
    width: 100%; }
    .hc-pan-container .hc-tab-container thead {
      background-image: linear-gradient(50deg, #eeeeee 15%, #ffffff 100%);
      background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%) repeat scroll 0 0 padding-box transparent;
      border-bottom: 1px solid #ccc; }
      .hc-pan-container .hc-tab-container thead tr, .hc-pan-container .hc-tab-container thead th {
        border: 0 !important; }
      .hc-pan-container .hc-tab-container thead tr th {
        border-left: 1px solid #ccc !important; }
        .hc-pan-container .hc-tab-container thead tr th.filter {
          padding: 1px 3px; }
    .hc-pan-container .hc-tab-container tbody tr {
      cursor: pointer; }
      .hc-pan-container .hc-tab-container tbody tr.hc-tab-group {
        color: inherit; }
      .hc-pan-container .hc-tab-container tbody tr td {
        border-left: 1px solid #ccc !important;
        border-top: 1px solid #ccc !important;
        background: #fff;
        padding: 1px 4px;
        vertical-align: top;
        white-space: nowrap; }
      .hc-pan-container .hc-tab-container tbody tr:nth-child(even) td {
        background: #fafafa; }
      .hc-pan-container .hc-tab-container tbody tr.active td {
        background: rgba(255, 40, 120, 0.2) !important; }
  .hc-pan-container .hc-pan-footer {
    font-size: 0.9em;
    /* XXX */
    word-wrap: break-word; }

/*** widget */
button, input, select, textarea {
  font-family: inherit;
  font-size: 0.9em; }

.ng-table th.filter .input-filter,
.ui-input {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #999999;
  font-size: 0.9em;
  padding: 0px 8px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  margin: 4px auto;
  min-height: 1.6em; }

.btn {
  color: #333333;
  -moz-user-select: none;
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  margin-bottom: 0;
  padding: 4px 6px;
  white-space: nowrap;
  margin: 2px 0;
  line-height: 1; }
  .btn:hover {
    background: #eee;
    color: inherit; }
  .btn.active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1) inset;
    background: #eee; }

.btn-group {
  margin: 2px 0; }
  .btn-group .btn {
    margin: 0;
    float: left;
    position: relative; }
    .btn-group .btn:first-child:not(:last-child):not(.dropdown-toggle) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
    .btn-group .btn:last-child:not(:first-child):not(.dropdown-toggle) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: 0; }
    .btn-group .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
      border-radius: 0;
      border-left: 0; }

.pagination {
  margin: 5px 0;
  padding-left: 0; }
  .pagination li {
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 0.9em;
    margin-right: 1px;
    text-align: center;
    width: 20px;
    background: #fafafa; }
    .pagination li.disabled {
      background: #eee;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1) inset; }

/*** additional */
.full-screen {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center; }
  .full-screen .info-box {
    display: inline-block;
    margin: 0 auto;
    padding: 4px;
    position: relative;
    top: 150px;
    background: rgba(255, 255, 255, 0); }
    .full-screen .info-box .close_lock {
      color: white; }
    .full-screen .info-box p {
      margin: 10px 0;
      padding: 5px 20px;
      color: white;
      font-size: 1.2em;
      text-shadow: 0 0 3px #ff00dc; }
  .full-screen.dark {
    background: rgba(0, 0, 0, 0.7); }

/*** misc, bugfix, overrides ----------------------------------------------- */
* {
  box-sizing: border-box; }

/*** class holder for javascript */
.popup-register-server {
  color: inherit; }

.popup-register-user {
  color: inherit; }

.register-server {
  color: inherit; }

.register-user {
  color: inherit; }

.backend-progress {
  color: inherit; }

.close_lock {
  color: inherit; }

.ok {
  color: inherit; }

/* blank */
.ng-table-group {
  color: inherit; }

/*** override, semantic-ui */
.ui.small.modal.inverted {
  border-radius: 0px;
  border: 0px; }

/*** logical, ----------------- important --------------------------------- */
.locked {
  color: #bbb; }

.warn {
  background: #ffdada !important;
  color: #fff !important; }

.err {
  background: #f00 !important;
  color: #fff !important;
  font-weight: bold !important; }

.red {
  color: red; }

.orange {
  color: orange; }
